# # Set URL for your scoped packages.
# @monagoio:registry=https://npm.pkg.github.com/

# # Add the token for the scoped packages URL. This will allow you to download
# //npm.pkg.github.com/:_authToken=${GITHUB_CI_TOKEN}

# # with the project you want your package to be uploaded to.
# //npm.pkg.github.com/:_authToken=${GITHUB_CI_TOKEN}



# Set URL for your scoped packages.
@monagoio:registry=https://registry.npmjs.org/

# Add the token for the scoped packages URL. This will allow you to download
//registry.npmjs.org/:_authToken=${NPM_CI_TOKEN}

# with the project you want your package to be uploaded to.
//registry.npmjs.org/:_authToken=${NPM_CI_TOKEN}